/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.nav-item{
    width: 300px;
    height: 30px;
    background-color: #DAA520;
    border: 1px black solid;
    margin-top: 20px;
}

.logo{
    justify-content: start;
    align-items: center;
}

.login{
    justify-content: end;
    align-items: center;
}

.main-item{
    height: 250px;
    width: 600px;
    background-color: #ee82ee;
}

.main-heading{
    height: 300px;
    background-color: #01098b;
    align-items: center;
    justify-content: center;
}

.light-blue{
    width: 700px;
    height: 400px;
    background-color: #1e90ff;
}

.pink{
    width: 500px;
    height: 400px;
    background-color: #fdc0cb;
}

.main-section{
    height: 480px;
    justify-content: center;
    align-items: center;
}

.second-section{
    height: 480px;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
}

.green-box{
    height: 450px;
    width: 1200px;
    background-color: #228b22;
}

section.upper-header{
    height: 70px;
    background-color: #a6d0dd;
    justify-content: center;
}

nav ul.flex{
    width: 600px;
    height: 30px;
    background-color: #DAA520;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    border: 1px black solid;
    margin-top: 20px;
}


